* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "patrick hand", "sans-serif";
}

.header {
  margin-bottom: 20px;
}

.game-title,
.game-description {
  text-align: center;
}

.game-description {
  font-size: 18px;
}

.game {
  position: relative;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 10px;
  justify-content: center;
}

.tile {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #ffc354;
  /* border: 1px solid black; */
  cursor: pointer;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}
